* {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* Background color DEEDFD */
.text-qb-secondary { 
    color: #334966;
}
.text-qb-white {
    color: #f1f1f1;
}

.bg-qb-secondary { 
    background-color: #334966;
}
.bg-qb-background { 
    background-color: #222222;
}

.bg-qb-light {
    background-color: #C7DFF8;
}
.bg-qb-white {
    background-color: #f1f1f1;
}




/* Hide scrollbar */
*::-webkit-scrollbar {
    display: none; /* Chrome, Safari and Opera */
}
    
* {
-ms-overflow-style: none;  /* IE and Edge */
scrollbar-width: none;  /* Firefox */
}

/* Other styles */

#audio {
    display: none;
}

@media (min-width: 992px) {
    .col-lg-3, .col-lg-9 {
        height: calc(100vh - 52px);
        /* position: fixed; */
    }
}


.checklist {
    background-color: #f1f1f1;
    list-style-type: none;
    padding: 0px 20px 20px 20px;
    border-radius: 0px 0px 15px 15px;
    /* display: none;  UNDO THIS LATER*/
    /* Initially collapsed */
}
.specialHR {
    margin: 0px  !important;
    margin-bottom: 20px !important;
}

li > label {
    transition: 200ms;
    width: 80%;
    margin-left: 7px;
}

/* li:has(input:checked){
    background-color: green ;
} */


input[type='checkbox'] {
    /* display: none; */
    width: 10%;
}

.collapsible {
    border-radius: 15px 15px 0px 0px;
    background-color: #f1f1f1;
    cursor: pointer;
    padding: 20px 10px;
    border: none;
    outline: none;
    font-size: 18px;
    margin-top: 20px;
    /* margin: 10px 0; */

    text-align: center;
    width: 100%;
}



/* 
    white: f1f1f1
    border radius: 15px
*/

