<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Play Audio with Synchronized Text</title>
    <style>
        #audio {
            display: none;
        }
        .question {
            max-width: 30%;
            border-style: solid;
            border-radius: 1px;
            padding: 1%;
        }
        #answerLine ul {
            align-items: left;
            list-style: none;
          }
        #answerLine li {
            padding-right: 2%;
            display: inline;
        }
    </style>
</head>
<body>
    <h1>Play Audio with Synchronized Text</h1>
    <audio id="audio" controls>
        <source id="audioSource" src="{{ url_for('audio', filename='audio.mp3') }}" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>
    <p id="score">Score: 0</p>
    <button id="buzzer">Buzz</button>
    <button id="nextQuestion">Get the next question</button>
    <input type="text" id="answer" style="display: none;" placeholder="Answer">
    <div id="text">
        <p id="question" class="question"></p>
    </div>
    <ul style="display: none;" id="answerLine">
        <li id="actualAnswer"></li>
        <li><button id="answerRight">I was correct</button></li>
    </ul>

    <script>
        function Timer(callback, delay) {
            var args = arguments,
                self = this,
                timer, start;
        
            this.clear = function () {
                clearTimeout(timer);
            };
        
            this.pause = function () {
                this.clear();
                delay -= new Date() - start;
            };
        
            this.resume = function () {
                start = new Date();
                timer = setTimeout(function () {
                    callback.apply(self, Array.prototype.slice.call(args, 2, args.length));
                }, delay);
            };
        
            this.resume();
        }

        document.addEventListener('DOMContentLoaded', () => {
            const audio = document.getElementById('audio');
            const audioSource = document.getElementById('audioSource');
            const buzzer = document.getElementById('buzzer');
            const nextButton = document.getElementById('nextQuestion');
            const textDiv = document.getElementById('question');
            const textInput = document.getElementById('answer');
            const answerBox = document.getElementById('answerLine');
            const answerDisplay = document.getElementById('actualAnswer');
            const displayedScore = document.getElementById('score');

            let score = 0;
            let textCues = [];
            let answer = '';
            let lastDisplayedText = '';
            let onWord = 0;
            let startTime = 0;
            let intervalId = null;

            let hasntStarted = false;
            let buzzedIn = false;
            let questionEnded = false;
            let questionDone = false;

            let timer = null;
            let timerPromise = null;
            let timerPaused = false;

            const fetchTextCues = () => fetch('/api/get_text')
                .then(response => response.json())
                .then(data => { textCues = data; })
                .catch(error => console.error('Error fetching text cues:', error));

            const updateText = () => {
                const currentTime = audio.currentTime;
                if (onWord < textCues.length && currentTime >= textCues[onWord].time) {
                    const latestText = textCues[onWord].text;
                    onWord++;
                    if (latestText !== lastDisplayedText) {
                        textDiv.textContent += " " + latestText;
                        lastDisplayedText = latestText;
                    }
                }
            };

            const checkAnswer = userAnswer => answer.toLocaleLowerCase().indexOf(userAnswer.toLocaleLowerCase());

            const calculateScore = correct => {
                if (correct != -1) {
                    if (textDiv.textContent.indexOf('(*)') < 0)
                        score += 5;
                    score += 10;
                }
                else {
                    if (!questionEnded)
                        score -= 5;
                }
                console.log("Score: ", score);
                displayedScore.textContent = "Score: " + score;
            };            

            let isFirstRun = true;
            nextButton.addEventListener('click', async () => {
                const resetAndFetch = async () => {
                    answerBox.style.display = 'none';
                    textInput.style.display = 'none';
                    audio.pause();
                    audio.currentTime = 0;
                    lastDisplayedText = '';
                    textDiv.textContent = '';
                    textCues = [];
                    onWord = 0;
                    audioSource.src = `{{ url_for('audio', filename='audio.mp3') }}?t=${new Date().getTime()}`;
                    audio.load();
                    await fetchTextCues();
                    audio.play();
                    hasntStarted = true;
                    questionEnded = false;
                    intervalId = setInterval(updateText, 200);
                };

                if (isFirstRun) {
                    isFirstRun = false;
                    try {
                        fetch('/api/get_next_question');
                        const response = await fetch('/api/get_answer');
                        if (!response.ok) throw new Error(`HTTP error! Status: ${response.status}`);
                        answer = await response.text();
                        console.log("Answer: ", answer)
                        await resetAndFetch();
                        fetch('/api/get_answer')
                        .then(response => {
                            if (!response.ok) throw new Error(`HTTP error! Status: ${response.status}`);
                            answer = response.text();
                        })
                        .catch(error => console.error('Error fetching next question and answer:', error));
                    } catch (error) {
                        console.error('Error fetching next question and answer:', error);
                    }
                } else {
                        resetAndFetch();
                        fetch('/api/get_answer')
                            .then(response => {
                                if (!response.ok) throw new Error(`HTTP error! Status: ${response.status}`);
                                answer = response.text();
                            })
                            .then(fetch('/api/get_next_question'))
                            .catch(error => console.error('Error fetching next question and answer:', error));
                    
                }
            });

            buzzer.addEventListener('click', () => {
                if (hasntStarted) {
                    audio.pause();
                    hasntStarted = false;
                    textInput.style.display = 'block';
                } else {
                    audio.play();
                    hasntStarted = true;
                    textInput.style.display = 'none';
                    intervalId = setInterval(updateText, 200);
                }
            });

            document.addEventListener('keydown', event => {
                if (!buzzedIn && (event.key === 'n' || event.key === 'N')) nextButton.click();
                else if (!questionEnded && !buzzedIn && event.key === ' ') {
                    buzzedIn = true;
                    if (questionDone) {
                        timer.pause();
                        timerPaused = true;
                    }
                    buzzer.click();
                } else if (buzzedIn && event.key === 'Enter') {
                    const inputValue = textInput.value;
                    console.log("Answer: ", answer);
                    correct = checkAnswer(inputValue);
                    console.log("Correct: ", correct);
                    calculateScore(correct);
                    buzzedIn = false;
                    if (timerPaused && questionEnded) {
                        timer.resume()
                    }
                    if (correct != -1) {
                        textDiv.textContent = textCues.map(cue => cue.text).join(' ');
                        audio.pause();
                        answerDisplay.textContent = answer;
                        audio.dispatchEvent(new Event('ended'));
                    } else {
                        buzzer.click();
                    }
                }
            });

            audio.addEventListener('ended', () => {
                questionDone = true;
                clearInterval(intervalId);
                answerBox.style.display = 'block';
                if (!buzzedIn) {
                    timer = new Timer(function() {
                        questionEnded = true;
                        answerDisplay.textContent = answer;
                    }, 5000);
                }
            });
        });
    </script>
</body>
</html>