<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Play Audio with Synchronized Text</title>
    <!-- Bootstrap CDN -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">

</head>

<body class = "bg-qb-background">
     <!-- Top Bar -->
    <div class = "w-100 bg-qb-light py-2 px-4 d-flex fs-5 justify-content-center" style="height: 52px;">
        <p>QB Voice Tossup Reader</p>
    </div>

    <!-- <h1>Play Audio with Synchronized Text</h1> -->
    <audio id="audio" controls>
        <source id="audioSource" src="{{ url_for('audio', filename='audio.mp3') }}" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>
    
    <div class = "row w-100"> 
        <div class = "col-lg-9 p-5 overflow-scroll">
            <!-- Buttons -->
            <span class = "w-100 d-flex">
                <button id="buzzer" class = "btn btn-outline-primary">Buzz</button>
                <button id="nextQuestion" class = "btn btn-success mx-3">Next Question</button>
                <span id="score" class = "border border-1 border-dark rounded px-4 p-2 bg-qb-white ms-auto">Score: 0</span>
            </span>
            <input type="text" id="answer" style="display: none;" class = "mt-3 w-100" placeholder="Answer">
            <hr class ="text-light">
            <div id="text" class = "text-qb-white">
                <p id="question" class="question"></p>
            </div>
            
            <ul style="display: none;" id="answerLine">
                <li id="actualAnswer"></li>
                <li><button id="answerRight">I was correct</button></li>
            </ul>
        </div>

        <div class = "col-lg-3 p-3 overflow-scroll">
            <form id="checklistForm">
                <button id = "categoriesButton" type="button" class="collapsible" onclick="toggleVisibility('categories')">
                    <b>Question Categories</b>
                </button>
                <ul class="checklist" id="categories">
                    <hr class = "specialHR">
                    <li><input type="checkbox" id="category1" name="categories" value="Literature"><label for="category1"> Literature</label></li>
                    <li><input type="checkbox" id="category2" name="categories" value="History"><label for="category2"> History</label></li>
                    <li><input type="checkbox" id="category3" name="categories" value="Science"><label for="category3"> Science</label></li>
                    <li><input type="checkbox" id="category4" name="categories" value="Fine Arts"><label for="category4"> Fine Arts</label></li>
                    <li><input type="checkbox" id="category5" name="categories" value="Religion"><label for="category5"> Religion</label></li>
                    <li><input type="checkbox" id="category6" name="categories" value="Mythology"><label for="category6"> Mythology</label></li>
                    <li><input type="checkbox" id="category7" name="categories" value="Philosophy"><label for="category7"> Philosophy</label></li>
                    <li><input type="checkbox" id="category8" name="categories" value="Social Science"><label for="category8"> Social Science</label></li>
                    <li><input type="checkbox" id="category9" name="categories" value="Current Events"><label for="category9"> Current Events</label></li>
                    <li><input type="checkbox" id="category10" name="categories" value="Geography"><label for="category10"> Geography</label></li>
                    <li><input type="checkbox" id="category11" name="categories" value="Trash"><label for="category11"> Trash</label></li>
                </ul>
        
                <button id = "difficultiesButton" type="button" class="collapsible" onclick="toggleVisibility('difficulties')">Select difficulties:</button>
                <ul class="checklist" id="difficulties">
                    <li><input type="checkbox" id="difficulty1" name="difficulties" value="1"><label for="difficulty1"> 1</label></li>
                    <li><input type="checkbox" id="difficulty2" name="difficulties" value="2"><label for="difficulty2"> 2</label></li>
                    <li><input type="checkbox" id="difficulty3" name="difficulties" value="3"><label for="difficulty3"> 3</label></li>
                    <li><input type="checkbox" id="difficulty4" name="difficulties" value="4"><label for="difficulty4"> 4</label></li>
                    <li><input type="checkbox" id="difficulty5" name="difficulties" value="5"><label for="difficulty5"> 5</label></li>
                    <li><input type="checkbox" id="difficulty6" name="difficulties" value="6"><label for="difficulty6"> 6</label></li>
                    <li><input type="checkbox" id="difficulty7" name="difficulties" value="7"><label for="difficulty7"> 7</label></li>
                    <li><input type="checkbox" id="difficulty8" name="difficulties" value="8"><label for="difficulty8"> 8</label></li>
                    <li><input type="checkbox" id="difficulty9" name="difficulties" value="9"><label for="difficulty9"> 9</label></li>
                    <li><input type="checkbox" id="difficulty10" name="difficulties" value="10"><label for="difficulty10"> 10</label></li>
                </ul>
            </form>
        </div>
        
    </div>


    <script>
        function Timer(callback, delay) {
            var args = arguments,
                self = this,
                timer, start;
        
            this.clear = function () {
                clearTimeout(timer);
            };
        
            this.pause = function () {
                this.clear();
                delay -= new Date() - start;
            };
        
            this.resume = function () {
                start = new Date();
                timer = setTimeout(function () {
                    callback.apply(self, Array.prototype.slice.call(args, 2, args.length));
                }, delay);
            };
        
            this.resume();
        }

        function toggleVisibility(id) {
            const element = document.getElementById(id);
            const buttonElement = document.getElementById(id+"Button");
            if (element.style.display === "none") {
                element.style.display = "block";
                buttonElement.style.borderRadius = '15px 15px 0px 0px';
            } else {
                element.style.display = "none";
                buttonElement.style.borderRadius = '15px';
            }
        }

        document.addEventListener('DOMContentLoaded', () => {
            const audio = document.getElementById('audio');
            const audioSource = document.getElementById('audioSource');
            const buzzer = document.getElementById('buzzer');
            const nextButton = document.getElementById('nextQuestion');
            const textDiv = document.getElementById('question');
            const textInput = document.getElementById('answer');
            const answerBox = document.getElementById('answerLine');
            const answerDisplay = document.getElementById('actualAnswer');
            const displayedScore = document.getElementById('score');
            const answerRight = document.getElementById('answerRight')

            let score = 0;
            let textCues = [];
            let answer = '';
            let nextAnswer = '';
            let lastDisplayedText = '';
            let onWord = 0;
            let startTime = 0;
            let intervalId = null;

            let hasntStarted = false;
            let buzzedIn = false;
            let questionEnded = false;
            let questionDone = false;
            let inPower = false;
            let interrupt = false;

            let timer = null;
            let timerPromise = null;
            let timerPaused = false;

            let previousSubjects = [];
            let previousDifficulties = [];

            function get_next_question() {
                const subjects = Array.from(document.querySelectorAll('#categories input[type="checkbox"]:checked')).map(checkbox => checkbox.value);
                const question_numbers = Array.from(document.querySelectorAll('#difficulties input[type="checkbox"]:checked')).map(checkbox => checkbox.value);
    
                if (JSON.stringify(subjects) !== JSON.stringify(previousSubjects) || JSON.stringify(question_numbers) !== JSON.stringify(previousDifficulties)) {
                    previousSubjects = subjects;
                    previousDifficulties = question_numbers;
                }
    
                const params = new URLSearchParams();
                params.append('subjects', JSON.stringify(previousSubjects));
                params.append('question_numbers', JSON.stringify(previousDifficulties));
    
                const url = '/api/get_next_question?' + params.toString();
    
                return fetch(url);
            }


            const fetchTextCues = () => fetch('/api/get_text')
                .then(response => response.json())
                .then(data => {
                    textCues = data; 
                })
                .catch(error => console.error('Error fetching text cues:', error));

            const fetchAnswer = () => fetch('/api/get_answer')
                .then(response => response.text()) // Corrected typo here
                .then(text => {
                answer = text;
                console.log("Answer: ", answer);
                })
                .catch(error => console.error('Error fetching text cues:', error));

            /*const updateText = () => {
                const currentTime = audio.currentTime;
                if (onWord < textCues.length && currentTime >= textCues[onWord].time) {
                    const latestText = textCues[onWord].text;
                    onWord++;
                    if (latestText !== lastDisplayedText) {
                        textDiv.textContent += " " + latestText;
                        lastDisplayedText = latestText;
                    }
                }
            };*/
            const updateText = () => {
                const currentTime = audio.currentTime;
            
                // Loop through all text cues that should have been displayed by now
                while (onWord < textCues.length && currentTime >= textCues[onWord].time) {
                    const latestText = textCues[onWord].text;
                    onWord++;
                    if (latestText !== lastDisplayedText) {
                        textDiv.textContent += " " + latestText;
                        lastDisplayedText = latestText;
                    }
                }
            };

            const checkAnswer = userAnswer => answer.toLocaleLowerCase().indexOf(userAnswer.toLocaleLowerCase());

            const calculateScore = correct => {
                if (correct != -1) {
                    if (textDiv.textContent.indexOf('(*)') < 0) {
                        inPower = true;
                    }
                    if (inPower) {
                        score += 5;
                    }
                    score += 10;
                }
                else {
                    if (!questionEnded)
                        score -= 5;
                }
                console.log("Score: ", score);
                displayedScore.textContent = "Score: " + score;
            };            

            nextButton.addEventListener('click', async () => {
                const resetAndFetch = async () => {
                    answerBox.style.display = 'none';
                    textInput.style.display = 'none';
                    audio.pause();
                    audio.currentTime = 0;
                    lastDisplayedText = '';
                    textDiv.textContent = '';
                    textInput.value = "";
                    textCues = [];
                    onWord = 0;
                    audioSource.src = `{{ url_for('audio', filename='audio.mp3') }}?t=${new Date().getTime()}`;
                    audio.load();
                    await fetchTextCues();
                    fetchAnswer();
                    audio.play();
                    hasntStarted = true;
                    questionEnded = false;
                    questionDone = false;
                    buzzedIn = false;
                    interrupt = false;
                    inPower = 0;
                    intervalId = setInterval(updateText, 100);
                };
                try {
                    get_next_question().then(
                        resetAndFetch()
                    );
                } catch (error) {
                    console.error('Error fetching next question and answer:', error);
                }
            });

            buzzer.addEventListener('click', () => {
                if (hasntStarted) {
                    audio.pause();
                    hasntStarted = false;
                    textInput.style.display = 'block';
                } else {
                    audio.play();
                    hasntStarted = true;
                    textInput.style.display = 'none';
                    intervalId = setInterval(updateText, 100);
                }
            });

            document.addEventListener('keydown', event => {
                if (!buzzedIn && (event.key === 'n' || event.key === 'N')) nextButton.click();
                else if (!questionEnded && !buzzedIn && event.key === ' ') {
                    buzzedIn = true;
                    if (questionDone) {
                        timer.pause();
                        timerPaused = true;
                    }
                    else {
                        interrupt = true;
                    }
                    buzzer.click();
                } else if (buzzedIn && event.key === 'Enter') {
                    const inputValue = textInput.value;
                    console.log("Answer: ", answer);
                    correct = checkAnswer(inputValue);
                    console.log("Correct: ", correct);
                    calculateScore(correct);
                    buzzedIn = false;
                    if (timerPaused && questionEnded) {
                        timer.resume()
                    }
                    if (correct != -1) {
                        questionEnded = true;
                        textDiv.textContent = textCues.map(cue => cue.text).join(' ');
                        audio.pause();
                        answerDisplay.textContent = "Answer: " + answer;
                        if (timer != null) timer.clear();
                        answerRight.textContent = "I was incorrect";
                        audio.dispatchEvent(new Event('ended'));
                    } else {
                        buzzer.click();
                        textInput.value = "";
                        answerRight.textContent = "I was correct";
                    }
                }
            });

            audio.addEventListener('ended', () => {
                questionDone = true;
                answerDisplay.textContent = "Answer: " + answer;
                clearInterval(intervalId);
                if (!buzzedIn && !questionEnded) {
                    timer = new Timer(function() {
                        answerBox.style.display = 'block';
                        questionEnded = true;
                    }, 5000);
                }
                answerBox.style.display = 'block';
            });

            answerRight.addEventListener('click', () => {
                console.log()
                if (correct != -1) {
                    if (inPower) {
                        score -= 15;
                    }
                    else {
                        score -= 10;
                    }
                    if (interrupt) {
                        score -= 5;
                    }
                    displayedScore.textContent = "Score: " + score;
                    answerRight.textContent = "I was correct"
                    correct = -1;
                }
                else {
                    if (interrupt) {
                        score += 5;
                    }
                    if (inPower) {
                        score += 15;
                    }
                    else {
                        score += 10;
                    }
                    displayedScore.textContent = "Score: " + score;
                    answerRight.textContent = "I was incorrect";
                    correct = 10;
                }
            });
        });
    </script>
</body>
</html>